:root { 
--green_300:#69db7c; 
--bluegray_50:#e9ecef; 
--orange_A200:#ffa94d; 
--gray_800:#343a40; 
--black_900_6c:#0000006c; 
--gray_900:#212529; 
--orange_800:#f76707; 
--green_50:#ebfbee; 
--gray_300:#dee2e6; 
--green_500:#37b24d; 
--gray_50:#f8f9fa; 
--gray_100:#f1f3f5; 
--white_A700_82:#ffffff82; 
--bluegray_100_82:#ced4da82; 
--bluegray_700:#495057; 
--orange_50:#fff4e6; 
--bluegray_400:#868e96; 
--bluegray_200:#adb5bd; 
--yellow_900:#d98c33; 
--lime_50:#fbf4eb; 
--white_A700:#ffffff; 
}